<script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV file
      // csvFile = new Blob([csv], {type: "text/csv"});
      csvFile = new Blob(["\ufeff", csv]);

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Hide download link
      downloadLink.style.display = "none";

      // Add the link to DOM
      document.body.appendChild(downloadLink);

      // Click download link
      downloadLink.click();
  }

  function exportTableToCSV(filename) {
      var csv = [];
      var rows = document.querySelectorAll("table tr");

      for (var i = 0; i < rows.length; i++) {
          var row = [], cols = rows[i].querySelectorAll("td, th");

          for (var j = 0; j < cols.length; j++)
              row.push(cols[j].innerText);

          csv.push(row.join(";"));
      }

      // Download CSV file
      downloadCSV(csv.join("\n"), filename);
  }

  $(document).ready(function () {
      var d = new Date();
      var month = d.getMonth() + 1;
      var day = d.getDate();
      var hours = d.getHours();
      var minutes = d.getMinutes();
      var date_str = d.getFullYear() + '-' +
              (month < 10 ? '0' : '') + month + '-' +
              (day < 10 ? '0' : '') + day + ' ' +
              hours + 'h' + minutes + 'm'

      exportTableToCSV('Rechat - Relatório de Mensagens Completo ' + date_str + '.csv');
      window.close();
  });
</script>

<table>
    <thead>
        <tr>
            <th>ID da Mensagem</th>
            <th>Tipo da Mensagem</th>

            <th>ID Chatbot</th>
            <th>ID da Mensagem no Chatbot</th>
            <th>ID do Chatbot de Referência</th>

            <th>ID do Usuário Origem</th>
            <th>ID do Contato Origem</th>

            <th>ID do Usuário Destino</th>
            <th>ID do COntato Destino</th>

            <th>Tipo do Conteúdo</th>
            <%#*<th>Conteúdo</th>%>
            <th>URL</th>

            <th>Polaridade</th>
            <th>Tempo de Foco</th>
            <th>Visualizações</th>
            <th>Favoritada</th>

            <th>Chat Aberto</th>

            <th>Data de Registro</th>
            <th>Data de Envio</th>
            
            <th>Conteúdo</th>
            
            
            <%#*<th>id</th>%>
            <%#*<th>type</th>%>

            <%#*<th>chatbot_id</th>%>
            <%#*<th>chatbot_sequence_id</th>%>
            <%#*<th>chatbot_reference_id</th>%>

            <%#*<th>origin_user_id</th>%>
            <%#*<th>contact_origin_id</th>%>

            <%#*<th>destiny_user_id</th>%>
            <%#*<th>contact_destiny_id</th>%>

            <%#*<th>type_content</th>%>
            <%#*<th>content</th>%>
            <%#*<th>url</th>%>

            <%#*<th>polarity</th>%>
            <%#*<th>time_focus</th>%>
            <%#*<th>count_views</th>%>
            <%#*<th>favorited</th>%>

            <%#*<th>chat_open</th>%>

            <%#*<th>created_at</th>%>
            <%#*<th>date_send</th>%>
            
            <%#*<th>content</th>%>
        </tr>
    </thead>

    <tbody>
        <% @messages.each do |m| %>
          <tr>
              <td><%= m.id %></td>

              <!-- type -->
              <td>
                  <% if (m.type_acronym_id == 1) %>
                    Mensagem de Controle
                  <% elsif (m.type_acronym_id == 2) %>
                    Mensagem Alvo
                  <% elsif (m.type_acronym_id == 3) %>
                    Resposta de Controle
                  <% elsif (m.type_acronym_id == 4) %>
                    Resposta Alvo
                  <% elsif (m.type_acronym_id == 5) %>
                    Aguardar Resposta
                  <% else %>
                    Compartilhamento
                  <% end %>
              </td>


              <!-- chatbot_id -->
              <td><%= m.interaction_id %></td>
              <!-- chatbot_sequence_id -->
              <td><%= m.interaction_ids %></td>
              <!-- chatbot_reference_id -->
              <td><%= m.reference_interaction_id %></td>



              <td><%= m.origin_user_id %></td>
              <!-- contact_origin_id -->
              <td><%= m.contact_id %></td>

              <td><%= m.destiny_user_id %></td>
              <!-- contact_destiny_id -->
              <td><%= m.destiny_contact_id %></td>


              
              <!-- type_content -->
              <td>
                  <% if (m.type_content_acronym_id == 50) %>
                    Textual
                  <% else %>
                    Imagem
                  <% end %>
              </td>
              <td><%= m.url %></td>

              <!-- polarity -->
              <td><%= m.polarity_scores.nil? ? '' : m.polarity_scores['compound'] %></td>
              <td><%= m.time_focus %></td>
              <td><%= m.count_views %></td>
              <td><%= m.favorited %></td>

              <td><%= m.chat_open %></td>

              <td><%= m.date_send.strftime("%d/%m/%Y %H:%M:%S") %></td>
              <td><%= m.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
              
              <td><%= m.content %></td>
          </tr>
        <% end %>
    </tbody>
</table>
