<!DOCTYPE html>
<html>
    <head>
        <title>ReChat</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all' %>

        <%= javascript_include_tag 'application' %>

        <style>
            *:not(.icon):not(.material-icons) {
                font-family: 'Roboto', sans-serif !important;
            }

            .ws-message.messages:active {
                background: #b2cee3 !important;
            }
        </style>
    </head>


    <% if params.key?('login') && session[:loaded] == false %>

      <script>
        $(document).ready(function () {

            $('.loader').ClassyLoader({
                width: 200, // width of the loader in pixels
                height: 200, // height of the loader in pixels
                animate: true, // whether to animate the loader or not
                displayOnLoad: true,
                percentage: 100, // percent of the value, between 0 and 100
                speed: 10 * 30, // miliseconds between animation cycles, lower value is faster
                roundedLine: false, // whether the line is rounded, in pixels
                showRemaining: true, // how the remaining percentage (100% - percentage)
                fontFamily: 'Helvetica', // name of the font for the percentage
                fontSize: '50px', // size of the percentage font, in pixels
                showText: true, // whether to display the percentage text
                diameter: 80, // diameter of the circle, in pixels
                fontColor: 'rgba(25, 25, 25, 0.6)', // color of the font in the center of the loader, any CSS color would work, hex, rgb, rgba, hsl, hsla
                lineColor: 'rgba(55, 55, 55, 1)', // line color of the main circle
                remainingLineColor: 'rgba(55, 55, 55, 0.4)', // line color of the remaining percentage (if showRemaining is true)
                lineWidth: 5 // the width of the circle line in pixels
            });

            setTimeout(function () {
                $('.loader-container').hide();
            }, 31000);
        });
      </script>

      <div class="loader-container" style="position: fixed; display: table; width: 100%; height: 100%; top: 0px; left: 0px; background: white; z-index: 9">
          <canvas class="loader ws-center-absolute-xy"></canvas>

          <div class="ws-center-absolute-xy" style="text-align: center;">
              <br/><br/><br/>
              <br/><br/><br/>
              <br/><br/><br/>
              <br/><br/><br/>
              <br/>

              <b>
                  Sincronizando com servidor de pesquisa.
              </b>
              <br/>

              <div>
                  Isso será feito somente quando você efetuar login.
              </div>
          </div>
      </div>
    <% end %>






    <body ng-app="ChatResearcher" ng-controller="GlobalController">

        <span id="rechat_session_cookie" value="<%= cookies['rechat_session'] %>" style="display: none;"></span>

        <div id="entity_id" style="display: none;" user-id="<%= session[:user]['id'] %>"></div>

        <%= render "layouts/menus/voluntary" %>

        <%= yield %>

        <%= render 'layouts/alerts/alerts' %>
        <%= render 'layouts/partials/loading' %>

        <script>
          $(document).ready(function () {
              SESSION_USER_ID = <%= session[:user]['id'] %>;
              connect(<%= session[:user]['id'] %>)
          });
        </script>

<%#*<div ng-init="message_star(1)"></div>%>

<%#*<div ng-init="%>
<%#*$app.$entity.load('contacts', {%>
<%#*$reload: true,%>
<%#*$conclude: success,%>
<%#*'Contact': {%>
<%#*all: ''%>
<%#*}%>
<%#*});%>
<%#*"></div>%>

<%#*{{$app.data['ws']['contacts']}}%>

    </body>
</html>
